.container-fluid{
  	padding-right: 0px;
  	padding-left: 0px;
  }

 .my-nav{position: relative;
       top:20px;
       width: 100%;
       z-index: 999;
       background:none;
       border: none;
       border-radius: 0;
     
 }

 .bg-light {
    background-color: transparent !important;
}
 
.fuente-verde {
    color: white;
    font-weight: bold;
} 
.my-carousel {top: -55px;}

.pie {
  background-color: black;
 
  min-height: 150px;

}

.row {
   
    margin-right: 0px;
}
.col-6 {
	padding-top: 1px;
     padding-right: 1px;
     padding-left: 1px; 
}

@media (max-width: 767px) {
  .my-nav .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .my-nav .navbar-nav .open .dropdown-menu > li > a:hover,
  .my-nav .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .my-nav .navbar-nav .open .dropdown-menu > .active > a,
  .my-nav .navbar-nav .open .dropdown-menu > .active > a:hover,
  .my-nav .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #3962ff;
  }
}
